# Supabase / Prisma
DATABASE_URL=
DIRECT_URL=

# Supabase Auth & Storage
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# LINE Bot
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_LIFF_ID=

# PDF (Puppeteer)
PUPPETEER_EXECUTABLE_PATH=
